@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}

html{
	background-image: var(--gradient-23);
	height: fit-content;
}

body{
	height: 100%;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	position: relative;
	/*background-image: var(--gradient-23);*/
}

ul{
	list-style-type: none;
}

.nav-dropdown{
	position: relative;
}

.dropdown-content{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 2em;
	transition: all 0.5s;
	opacity: 0;
	left:  -100%;
	top:  0;
	background: black;
}

.nav-dropdown:hover .dropdown-content, .nav-dropdown:focus .dropdown-content{
	opacity: 1;
	left: 10em;
}

.nav-bar{
	position: absolute;
	top: 0;
	/*display: flex;
	flex-direction: row-reverse;*/

}
.nav-content{
	display: flex;
	flex-direction: column;
	background: black;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	/*padding: 0.5em;*/
	font-size: 2rem;
	position: fixed;
	opacity: 0;
	left: -100%;
	transition: all 500ms;
	padding: 0.5em;
}
.nav-content li, .nav-link, .dropdown-toggle{
	text-align: center;
	color: white;
}
#wrapper{
	background: var(--teal-0);
	width: 90%;
	box-shadow: var(--shadow-4);
	border : var(--border-size-1) solid var(--teal-9);
	border-radius: var(--radius-2);
	margin: 4em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
section{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5em;
	/*width: 100%;*/
	margin: 0.5em auto;
	height: 100vh;
	width: 100%;
}

#Intro h2{
	font-size: var(--font-size-8);
	color: var(--yellow-6);
	padding: 0.5em;
	animation: var(--animation-float);
}

#Intro img{
	height: 20em;
	/*aspect-ratio: var(--ratio-portrait);*/
	border-radius: var(--radius-round);
	box-shadow: var(--shadow-3);
}
section .right, #Intro .left{
	display: flex;
	justify-content: center;
	align-items: center;
}
#Intro .left{
	flex-direction: column;
}

section p {
	color: var(--gray-7);
	font-size: var(--font-size-5);
	max-width: 60ch;
}

#Intro p{
	max-width: 30ch;
}


section .next{
	text-decoration: none;
	padding: 0.05em 0.3em;
	background: var(--orange-4);
	color: var(--orange-0);
	text-align: center;
	border-radius: var(--radius-3);
}

.nav-content li:hover, .nav-content li:focus{
	border: 0.1em solid var(--teal-0);
}

.nav-toggle{
	background: white;
	width: 3em;
	cursor: pointer;
	height: 3em;
	border-radius: var(--radius-round);
	position: fixed;
	opacity: 0.5;
	margin: 0.8em;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	padding: 0.5em;
	right: 0;
}
.fa-bars{
	font-size: 1.2rem;
	color: var(--pink-4);
}

.nav-toggle:hover, .nav-toggle:focus{
	opacity: 1;
}
.hidden{
	opacity: 0;
	pointer-events: none;
}
.nav-content li{
	/*padding: 0.5em;*/
	width: 100%;
}
#check{
	display: none;
	margin-left: -10000px;
}
#check:checked ~ .nav-content{
	left: 0;
	opacity: 0.75;
}

.link-disabled{
	color: #222;
	background: #555;
	pointer-events: none;
}

