
{% extends "main/layout.html" %}
{% block title %} Contact {% endblock %}
{% block body %}
	<h2 class="title-header">Here you can find social media links as well as other ways to contact me.</h2>
	<div class="contact-link"><strong>E-mail</strong><a href="">ahmed.galai@stud.uni-hannover.de</a><a href="">ahmedg369@gmail.com</a></div>
	<div class="contact-link"><strong>Github</strong><a href=""></a></div>
	<div class="contact-link"><strong>LinkedIn</strong><a href=""></a></div>
	<!-- <div class="contact-link"><strong>E-mail</strong></div> -->
	<!-- <div id ="Index">
		
	</div> -->
{% endblock %}